﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accelist Training Center</title>

    <link href="~/css/ipack.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="app" class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1>
                    Accelist Training Center
                </h1>
            </div>
            
            @RenderBody()
        </main>
    </div>

    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
