@import "bootstrap";
@import "aspnet-validation";
@import "maps.scss";

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

// if you need a sidebar, use this: https://getbootstrap.com/docs/4.0/examples/dashboard/
