﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>
        3rd Party Services Tutorial
    </h2>
</div>

<ul>
    <li>
        <a asp-page="./Map">
            Maps
        </a>
    </li>
    <li>
        <a asp-page="./Mail">
            Mail
        </a>
    </li>
</ul>