﻿@page
@model Accelist.TrainingCenter._3rdPartyServices.Pages.MailModel
@{
    ViewData["Title"] = "Mail";
}

<div class="text-center">
    <h2>
        SendGrid Example
    </h2>
</div>

<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="row form-group">
                <label asp-for="MailData.EmailAddress"
                       class="col-md-2 col-form-label">
                </label>
                <div class="col-md-10">
                    <input asp-for="MailData.EmailAddress"
                           class="form-control" />
                    <span asp-validation-for="MailData.EmailAddress"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="MailData.EmailName"
                       class="col-md-2 col-form-label">
                </label>
                <div class="col-md-10">
                    <input asp-for="MailData.EmailName"
                           class="form-control" />
                    <span asp-validation-for="MailData.EmailName"></span>
                </div>
            </div>

            <button type="submit"
                    class="btn btn-block btn-primary">
                Send
            </button>
        </form>
    </div>
</div>