﻿@page
@model Accelist.TrainingCenter._3rdPartyServices.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

<div class="text-center">
    <h2>
        Google Maps
    </h2>
</div>

<google-maps api-key="@Model.GoogleMapsApiKey"></google-maps>
