<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                Google Maps Data
            </div>
            <div class="card-body">
                <div class="row form-group">
                    <label class="col-md-2 col-form-label">
                        Latitude
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               v-model="mapLat"
                               readonly
                               class="form-control-plaintext" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-2 col-form-label">
                        Longitude
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               v-model="mapLng"
                               readonly
                               class="form-control-plaintext" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-2 col-form-label">
                        Zoom
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               v-model="mapZoom"
                               readonly
                               class="form-control-plaintext" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import GoogleMapsApi from 'load-google-maps-api';

    @Component({
        props: ['apiKey'],
        // Please refer to this link: https://vuejs.org/v2/guide/instance.html.
        mounted: async function (this: GoogleMaps) {
            await this.loadMap();
        }
    })
    export default class GoogleMaps extends Vue {
        /**
         * Google Maps API key. Passed from the server response.
         * */
        apiKey: string;

        /**
         * This class google.maps.Map data. Not used now.;
         * */
        map: google.maps.Map;

        /**
         * Map's zoom level.
         * */
        mapZoom: number = 0;

        /**
         * Map's latitude.
         * */
        mapLat: number = 0;

        /**
         * Map's longitude.
         * */
        mapLng: number = 0;

        /**
         * Load Google Maps component.
         * */
        async loadMap() {
            let mapSection = <HTMLDivElement>document.getElementById('map');

            if (mapSection === null || mapSection === undefined) {
                console.error('#map was not found!');
                return;
            }

            let googleMap = (await GoogleMapsApi({
                key: this.apiKey
            }));

            // Initial latitude.
            let initialLat = -6.2579975;

            // Initial longitude.
            let initialLng = 106.6189138;

            // Initial zoom level.
            let initialZoom = 15;

            // Reference for Map() options: https://developers.google.com/maps/documentation/javascript/tutorial.
            this.map = new googleMap.Map(mapSection,
                {
                    // Initial position.
                    center: {
                        lat: initialLat,
                        lng: initialLng
                    },
                    // Zoom level. Range from 1 to 20.
                    zoom: initialZoom
                });

            this.mapLat = initialLat;
            this.mapLng = initialLng;
            this.mapZoom = initialZoom;

            this.registerListenerEvents();
        }

        /**
         * Register Google Maps' listener events.
         * */
        registerListenerEvents() {
            // Since I haven't found a way to automatically bind the Google Maps' Map object, let's just register listener events instead.
            // List of Listeners: https://developers.google.com/maps/documentation/javascript/events.
            this.map.addListener('zoom_changed', () => {
                this.mapZoom = this.map.getZoom();
            });

            this.map.addListener('center_changed', () => {
                this.mapLat = this.map.getCenter().lat();
                this.mapLng = this.map.getCenter().lng();
            });
        }
    }
</script>
